* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  display: flex;
  background-color: #111111;
}

#bg-img {
}

.Landing {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.Navbar {
  height: 100%;
  width: 300px;
  position: fixed;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  background-color: black;
  overflow-x: hidden;
  left: 0;
  top: 0;
}

.Navbar a,
.dropdown-btn {
  display: flex;
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: antiquewhite;
  display: block;
  justify-content: center;
  width: 100%;
  text-align: left;
  cursor: pointer;
  margin: 15px;
  align-items: center;
  flex-direction: column;
  margin-bottom: 10px;
}
.Navbar a:hover {
  color: aquamarine;
}

.Name {
  display: flex;
  justify-content: center;
  align-content: center;
  color: White;
  margin: 400px;
  flex-direction: column;
  font-size: 25px;
  height: 30px;
}
.text {
  font-size: 30px;
}
q {
  color: aquamarine;
  text-transform: uppercase;
  font-family: sans-serif;
  font-size: 50px;
}
span {
  color: antiquewhite;
}

div #boop {
  height: 0vh;
}

.about {
  display: flex;
  justify-content: center;
  color: White;
  margin: 200px;
  font-family: sans-serif;
  margin-left: 10px;
}

.image1 {
  width: 250px;
  height: 250px;
  margin-top: 10px;
  border-radius: 150px;
}
.image2 {
  width: 250px;
  height: 250px;
  margin-left: px;
  border-radius: 150px;
}

.me {
  display: flex;
  justify-content: center;
  color: White;
  margin: 200px;
  flex-direction: column;
  font-size: 20px;
  height: 10px;
  margin-bottom: 50 px;
  margin-left: 400px;
}
.navpic {
  width: 250px;
  height: 150px;
  margin-bottom: 150px;
  margin-left: 25px;
}

.info {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  margin: 20px;
}
.interests {
  display: flex;
  flex-direction: column;
  color: aquamarine;
  margin: 50px;
  font-size: 20px;
  font-family: sans-serif;
  text-transform: uppercase;
  height: 20px;
  margin-top: 440px;
}
.vvl {
  display: flex;
  margin-bottom: 15px;
  color: aquamarine;
}
.heading {
  margin-bottom: 25px;
}
.int {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}
.ski {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  color: aquamarine;
  font-family: sans-serif;
  font-size: 30px;
  text-transform: uppercase;
}
.int {
  color: white;
  margin-top: 5px;
}
.college {
  margin-left: 500px;
  margin-top: 100px;
}
.col {
  color: aquamarine;
  font-family: sans-serif;
  text-transform: uppercase;
  font-size: 30px;
}
.image3 {
  margin-top: 50px;
  width: 250px;
  height: 200px;
  margin-left: 50px;
  border-radius: 50%;
}
.image9 {
  margin-top: 35px;
  width: 250px;
  height: 200px;
  margin-left: px;
  border-radius: 50%;
}
.vtec {
  margin-top: 10px;
}

.image4 {
  margin-top: 50px;
  width: 250px;
  height: 200px;
  border-radius: 50%;
  margin-top: 10px;
}
.sp {
  color: aquamarine;
  font-family: sans-serif;
  text-transform: uppercase;
  font-size: 30px;
}
.sub {
  color: white;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  font-size: 20px;
}
.work {
  color: white;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  font-size: 20px;
}
.title1 {
  font-size: 30px;
  color: aquamarine;
}
.vtec {
  font-family: sans-serif;
  color: white;
}

.ico {
  margin-bottom: 100px;
  margin-top: 120px;
  font-size: 40px;
  display: flex;
  justify-content: space-between;
  margin-right: 100px;
  background-color: aquamarine;
  padding: 10px;
  margin-left: 20%;
}

.college-container {
  display: flex;
  flex-direction: row;
}

.container1 {
  font-size: 20px;
  font-family: sans-serif;
  margin-left: 250px;
  margin-top: 200px;
  margin-bottom: 100px;
}
.container2 {
  font-size: 20px;
  font-family: sans-serif;
  margin-left: 250px;
  margin-bottom: 100px;
}
.container3 {
  font-size: 20px;
  font-family: sans-serif;
  margin-left: 250px;
  margin-bottom: 200px;
}

.cf {
  font-size: 30px;
  font-family: sans-serif;
  text-transform: uppercase;
  color: aquamarine;
}
.tl {
  font-size: 30px;
  font-family: sans-serif;
  text-transform: uppercase;
  color: aquamarine;
}
.tt {
  font-size: 30px;
  font-family: sans-serif;
  text-transform: uppercase;
  color: aquamarine;
}

.button :hover {
  color: black;
  background-color: aquamarine;
}
.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 70vh;
  margin-bottom: 200px;
}
.buttons {
  display: flex;
  justify-content: center;
  color: black;
}
.button {
  padding: 15px;
  font-family: sans-serif;
  text-transform: uppercase;
}
.college-container {
  margin-right: 300px;
}

/*TEST*/

.testimonial {
  display: flex;
  margin-top: 50px;
  flex-direction: row;
  font-family: sans-serif;
  margin-left: 650px;
  justify-content: flex-start;
  background-image: url(./Images/bk3.jpg);
  box-shadow: 0 6px 10px 0 aquamarine;
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 1% 1%;
  color: white;
  box-sizing: border-box;
  width: 50%;
}

.xxx {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  width: 100%;
}

.nme {
  display: flex;
  justify-content: center;
  /* margin-left: 100px; */
  font-size: 25px;
  font-size: 30px;
  color: aquamarine;
}
.nmes {
  display: flex;
  margin-top: 5px;
  /* margin-right: 30px; */
}
.abc {
  display: flex;
  font-size: 20px;
  margin-top: 35px;
  color: antiquewhite;
  margin-right: 10px;
}

.face1 {
  width: 220px;
  height: 200px;
  margin-top: 10px;
}
.zzz {
  margin-left: 30px;
}

.yyy {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  margin-left: 250px;
  align-items: center;
  background-image: url(./Images/contact\ image.jpg);
  background-size: cover;
}
.contact-info {
  color: white;
  margin-bottom: px;
  margin-left: -25%;
}

#contact-form {
  border-radius: 100px;
  background: ;

  padding: 15% 15%;
  color: whitesmoke;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact-heading {
  text-transform: uppercase;
  margin-bottom: 15%;
  width: 100%;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  color: aquamarine;
  margin-left: -25%;
}
.contact-input {
  display: flex;
  justify-content: center;
  padding: 10px;
  border: none;
  width: 150%;
  margin-left: -25%;
  border-radius: 10px;
  background: #ebe5e5;
  box-shadow: inset 20px 20px 33px #c8c3c3, inset -20px -20px 33px #ffffff;
  padding: 15px;
}

.bt8 {
  width: 100%;
  margin-top: 15px;
  padding: 10%;
  border: none;
  font-family: sans-serif;
}
.bt8 :hover {
  background-color: aquamarine;
}
.space {
  margin-top: 15px;
}
.bg1 {
  background-image: url(./Images/bk2.png);
  background-size: cover;
}
.bg2 {
  background-image: url(./Images/bk3.jpg);
  background-size: cover;
}
.bg4 {
  background-image: url(./Images/bk3.jpg);
  background-size: cover;
}
#bg-img {
  background-image: url(./Images/bk3.jpg);
  background-size: cover;
}
.hbk {
  background-image: url(./Images/bk3.jpg);
  background-size: cover;
  max-height: 100vh;
  overflow-y: auto;
}
.yyy {
  background-image: url(./Images/bk3.jpg);
  background-size: cover;
}

.icons i {
  font-size: 200%;
  color: white;
}

.icons i:hover {
  color: aquamarine;
  transition: 0.3s ease-in;
}
.hhh {
  display: flex;
  justify-content: center;
  color: white;
  margin-top: 100px;
  font-family: sans-serif;
  font-size: 20px;
  margin-left: 245px;
}
.john {
  display: flex;
  justify-content: center;
  color: white;
  font-size: 80px;
  font-family: sans-serif;
  text-transform: uppercase;
  box-shadow: 0 6px 10px 0 aquamarine;
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
footer {
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  margin-bottom: 15px;
  margin-left: 300px;
  color: antiquewhite;
}
