* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  display: flex;
  background-color: #111111;
}

.Landing {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.navbaritems {
  margin-left: 60px;
}

.Navbar {
  height: 100%;
  width: 300px;
  position: fixed;

  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  background-color: black;
  overflow-x: hidden;
  left: 0;
  top: 0;
}
.navbar1 {
  margin-left: 50px;
}
.Navbar a,
.dropdown-btn {
  display: flex;
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: antiquewhite;
  display: block;
  justify-content: center;
  width: 100%;
  text-align: left;
  cursor: pointer;
  margin: 15px;
  align-items: center;
  flex-direction: column;
  margin-bottom: 10px;
}
.Navbar a:hover {
  color: whitesmoke;
}

.icons2 {
  font-size: 130%;
  color: white;
  margin-right: 100 px;
  margin-bottom: 180px;
}
.icons2 :hover {
  color: white;
}

.fa-linkedin {
  color: white;
}
.fa-whatsapp {
  color: white;
}
/* .fa-whatsapp{ */

.per {
  margin-top: 25px;
}
.name2 {
  margin-top: 1px;
  margin-left: 100px;
  color: whitesmoke;
  margin-top: 400px;
}
.asp {
  margin-right: 100px;
  margin-top: 5px;
  font-family: montserrat;
  font-style: italic;
  font-weight: 500;
  max-width: 450px;
  margin-bottom: 30px;
  font-size: 25px;
}

.name1 {
  font-size: 50px;
  line-height: 1.4;
  font-family: montserrat;
  text-transform: uppercase;
  font-weight: 800;
  color: whitesmoke;
}

.text {
  font-size: 30px;
}
q {
  color: white;
  text-transform: uppercase;
  font-family: sans-serif;
  font-size: 50px;
}
span {
  color: antiquewhite;
}

div #boop {
  height: 0vh;
}
.heading {
  margin-left: 700px;
  font-family: montserrat;
  font-size: 40px;

  text-transform: uppercase;
}

.image1 {
  width: 250px;
  height: 250px;
  margin-left: 650px;
  margin-top: 370px;
  animation: morph 8s ease-in-out infinite 1s;
  background-blend-mode: multiply;
  border-radius: 150px;
}

.me {
  display: flex;
  justify-content: center;
  color: White;
  margin: 200px;
  flex-direction: column;
  font-size: 20px;
  height: 10px;
  margin-bottom: 50 px;
  margin-left: 400px;
}

.info {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  margin: 20px;
}
.interests {
  display: flex;
  flex-direction: column;
  color: whitesmoke;
  margin: 50px;
  font-size: 20px;
  font-family: sans-serif;
  text-transform: uppercase;
  height: 20px;
  margin-top: 440px;
}

.heading {
  margin-bottom: 25px;
}
.int {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}
.ski {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  color: whitesmoke;
  font-family: sans-serif;
  font-size: 30px;
  text-transform: uppercase;
}
.int {
  color: white;
  margin-top: 5px;
}
.college {
  margin-left: 500px;
  margin-top: 100px;
}
.col {
  color: whitesmoke;
  font-family: sans-serif;
  text-transform: uppercase;
  font-size: 30px;
}

.vtec {
  margin-top: 10px;
}

.sp {
  color: whitesmoke;
  font-family: sans-serif;
  text-transform: uppercase;
  font-size: 30px;
}
.sub {
  color: white;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  font-size: 20px;
}
.work {
  color: white;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  font-size: 20px;
}
.title1 {
  font-size: 30px;
  color: whitesmoke;
}
.vtec {
  font-family: sans-serif;
  color: white;
}

.ico {
  margin-bottom: 100px;

  font-size: 25px;
  display: flex;
  justify-content: space-around;
  margin-right: 100px;
  background-color: whitesmoke;
  padding: 10px;
  margin-left: 450px;
  padding-left: 100px;
  padding-right: 250px;
}

.college-container {
  display: flex;
  flex-direction: row;
}

.container1 {
  font-size: 20px;
  font-family: sans-serif;
  margin-left: 250px;
  margin-top: 180px;
  margin-bottom: 100px;
}
.container2 {
  font-size: 20px;
  font-family: sans-serif;
  margin-left: 250px;
  margin-bottom: 100px;
}
.container3 {
  font-size: 20px;
  font-family: sans-serif;
  margin-left: 250px;
  margin-bottom: 180px;
}

.cf {
  font-size: 30px;
  font-family: sans-serif;
  text-transform: uppercase;
  color: white;
}
.tl {
  font-size: 30px;
  font-family: sans-serif;
  text-transform: uppercase;
  color: white;
}
.tt {
  font-size: 30px;
  font-family: sans-serif;
  text-transform: uppercase;
  color: white;
}

.button :hover {
  color: black;
  background-color: white;
}
.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 70vh;
  margin-bottom: 200px;
  margin-top: 100px;
}
.buttons {
  display: flex;
  justify-content: center;
  color: black;
}
.button {
  padding: 15px;
  font-family: sans-serif;
  text-transform: uppercase;
}
.college-container {
  margin-right: 300px;
}

/*TEST*/

.testimonial {
  display: flex;
  margin-top: 50px;
  flex-direction: row;
  font-family: sans-serif;
  margin-left: 650px;
  justify-content: flex-start;
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 1% 1%;
  color: white;
  box-sizing: border-box;
  width: 50%;
}

.xxx {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  width: 100%;
}

.nme {
  display: flex;
  justify-content: center;
  /* margin-left: 100px; */
  font-size: 25px;
  font-size: 30px;
  color: whitesmoke;
}
.nmes {
  display: flex;
  margin-top: 5px;
  /* margin-right: 30px; */
}
.abc {
  display: flex;
  font-size: 20px;
  margin-top: 35px;
  color: antiquewhite;
  margin-right: 10px;
}

.face1 {
  width: 220px;
  height: 200px;
  margin-top: 10px;
}
.zzz {
  margin-left: 30px;
}

.yyy {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  margin-left: 250px;
  align-items: center;
  background-image: url(./Images/contact\ image.jpg);
  background-size: cover;
  margin-bottom: 450px;
}
.contact-info {
  color: white;
  margin-bottom: px;
  margin-left: -25%;
}

#contact-form {
  border-radius: 100px;

  padding: 15% 15%;
  color: whitesmoke;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact-heading {
  text-transform: uppercase;
  margin-bottom: 15%;
  width: 100%;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  color: whitesmoke;
  margin-left: -25%;
}
.contact-input {
  display: flex;
  justify-content: center;
  padding: 10px;
  border: none;
  width: 150%;
  margin-left: -25%;
  border-radius: 10px;
  background: #ebe5e5;
  box-shadow: inset 20px 20px 33px #c8c3c3, inset -20px -20px 33px #ffffff;
  padding: 15px;
}

.bt8 {
  width: 100%;
  margin-top: 15px;
  padding: 10%;
  border: none;
  font-family: sans-serif;
}
.bt8 :hover {
  background-color: rgb(243, 250, 248);
}
.space {
  margin-top: 15px;
}
.bg1 {
  background-image: url(./Images/bk2.png);
  background-size: cover;
}

.hhh {
  display: flex;
  justify-content: center;
  color: white;
  margin-top: 100px;
  font-family: sans-serif;
  font-size: 20px;
  margin-left: 245px;
}
.john {
  display: flex;
  justify-content: center;
  color: white;
  font-size: 80px;
  font-family: sans-serif;
  text-transform: uppercase;
  box-shadow: 0 6px 10px 0 aquamarine;
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
footer {
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  margin-bottom: 15px;
  margin-left: 300px;
  color: antiquewhite;
}
.map {
  margin-left: 225px;
  margin-top: 360px;
}

.form {
  margin-left: 560px;
  margin-top: 260px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.landing {
  height: 100vh;
  display: grid;
  place-items: center;
  background-image: url(./images/Mercedes\ Benz.jpg);
  background-size: cover;
}

h1 {
  text-transform: uppercase;
  font-size: 600%;
  color: rgba(132, 132, 132, 1);
}

.timeline-container {
  display: grid;
  grid-template-columns: 1fr 10% 1fr;
  grid-template-rows: repeat(4, 1fr);
  background-image: url(./images/teaser.jpg);
  background-size: cover;
  background-attachment: fixed;
  align-items: center;
  justify-items: center;
  padding: 10%;
  margin-left: 250px;
}

.line {
  width: 10px;
  height: 100%;
  grid-column-start: 2;
  grid-row-start: 1;
  grid-row-end: 6;
  background: rgb(250, 248, 248);

  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
}

.item-1 {
  grid-column: 3;
  grid-row: 1;
  font-size: 100%;
}

.item-2 {
  grid-column: 1;
  grid-row: 2;
  font-size: 100%;
}

.item-3 {
  grid-column: 3;
  grid-row: 3;
  font-size: 100%;
}

.item-4 {
  grid-column: 1;
  grid-row: 4;
  font-size: 100%;
}

.item-5 {
  grid-column: 3;
  grid-row: 5;
  font-size: 100%;
}

.timeline-item {
  color: white;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
  padding: 10%;
  margin: 10%;
  background: rgba(12, 11, 11, 0.692);

  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
}

@media screen and (max-width: 800px) {
  .timeline-container {
    grid-template-columns: 5% 1fr;
  }

  .line {
    grid-column-start: 1;
    color: whitesmoke;
  }

  .timeline-item {
    grid-column: 2;
  }
}
.aboutme h1 {
  margin-bottom: 30px;
  font-size: 40px;
  margin-left: 900px;
  color: whitesmoke;
  font-family: montserrat;
  text-transform: uppercase;
  margin-top: 30px;
}
.aboutme p {
  margin-bottom: 25px;
  font-size: 20px;
  margin-left: 350px;
  color: whitesmoke;
  font-family: montserrat;
  margin-right: 30px;
}
.why h2 {
  margin-bottom: 25px;
  font-size: 40px;
  margin-left: 920px;
  color: whitesmoke;
  font-family: montserrat;
  text-transform: uppercase;
  margin-top: 30px;
}
.why p {
  /* margin-b: 25px; */
  font-size: 20px;
  margin-left: 350px;
  color: whitesmoke;
  font-family: montserrat;
  margin-right: 30px;
}
.aboutme {
  margin-top: -220px;
}
.per {
  margin-left: 400px;
  margin-top: 100px;
  font-family: montserrat;
  text-transform: uppercase;
  color: white;
}
.pers2 {
  margin-top: 15px;
}
.pers {
  margin-bottom: 15px;
}
.pers3 {
  margin-top: 15px;
}
.pers4 {
  margin-top: 15px;
}
.hob {
  margin-left: 600px;
}

.h4 {
  font-family: montserrat;
  text-transform: uppercase;
  font-size: 20px;
}

.sft {
  margin-left: 400px;
  margin-top: 10px;
}

@media screen and (max-width);
